* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  background: #282A36;
  color: #29292e;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
}

popup-info + popup-info {
  margin-left: 2rem;
}
